//====================================================================================================
.header {
		// .header__content
		&__content {
		}
		// .header__menu
		&__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include adaptiv-value("height", 120, 80, 1);
		}
}

.menu {
		// .menu__logo
		&__logo {
      @include adaptiv-value("margin-right", 107, 0, 1);
		}
		// .menu__body
		&__body {
      flex: 1 0 484 / $maxWidthContainer * 100%;
      & ul {
        display: flex;
        justify-content: center;
        & li {
          &:nth-child(1) {
            @include adaptiv-value("margin-right", 57, 0, 1);
          }
          &:nth-child(2) {
            @include adaptiv-value("margin-right", 56, 0, 1);
          }
          &:nth-child(3) {
            @include adaptiv-value("margin-right", 39, 0, 1);
          }
          &:nth-child(4) {
            @include adaptiv-value("margin-right", 50, 0, 1);
          }
          & a {
            font-weight: 500;
            @include adaptiv-font(17, 14, 1);
            color: #6F6F6F;
            transition: all 0.3s ease 0s;
            text-transform: uppercase;
            &:hover {
              color: $mainColor;
              text-decoration: underline;
            }
            &:active {
              color: $mainColor;
            }
          }
        }
      }
      @media (max-width: $md3+px) {
        display: none;
      }
		}
		// .menu__info
		&__info {
      display: flex;
      flex-direction: column;
      @media (max-width: $md3+px) {
        margin: 0 20px 0 auto;
      }
      @media (max-width: $md4+px) {
        display: none;
      }
      & a {
        font-weight: 500;
        @include adaptiv-font(15, 12, 1);
        line-height: 140%;
        text-align: right;
        letter-spacing: 0.21em;
        text-transform: uppercase;
        color: $mainColor;
        &:hover {
          text-decoration: underline;
        }
        @media (max-width: $md3+px) {
          letter-spacing: 0.10em;
        }
      }
		}
		// .menu__icon
		// &__icon {
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   gap: 5px;
    //   width: 45px;
    //   height: 45px;
    //   border: 1px solid #000000;
    //   border-radius: 50%;
    //   cursor: pointer;
    //   & span {
    //     display: block;
    //     width: 5px;
    //     height: 5px;
    //     background-color: $mainColor;
    //     border-radius: 50%;
    //   }
		// }
}
//====================================================================================================

//Burger
.icon-menu {
  display: none;
  @media (max-width: $md3+px) {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    border: 1.5px solid #000000;
    border-radius: 50%;
    cursor: pointer;
      span {
        transition: all 0.3s ease 0s;
        top: calc(50% - 1px);
        left: calc(50% - 9px);
        position: absolute;
        width: 42.875%;
        height: 2px;
        background-color: #000;
        &:first-child {
          top: 15px;
        }
        &:last-child {
          top: auto;
          bottom: 15px;
        }
      }
      &._active {
        span {
          transform: scale(0);
          &:first-child {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
          }
          &:last-child {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
          }
        }
      }
  }
}
